#request_refresh{
  position: fixed;
  margin: 16px;
  bottom: 0;
  right: 0;
}

#request_id{
  border: none;
  box-shadow:none;
  margin-bottom: 0;
  margin-left: 8px;
  padding: 0;
  height: 1rem;
}

#request_id:focus{
  outline: -webkit-focus-ring-color auto 5px;
}

#notification_bar{
  padding: 10px 20px;
  overflow: auto;
  display: none;
}

#notification_bar i{
  cursor: pointer;
}

.btn-floating.progress-bar-container {

}

.btn-floating.progress-bar-container > .progress-bar{
  height: inherit;
  width: inherit;
}

.btn-floating.progress-bar-container > .progress-bar > div{
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin: auto;
}

.rotate {
  -webkit-transform: rotate(720deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(720deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(720deg);  /* IE 9 */
        -o-transform: rotate(720deg);  /* Opera 10.50-12.00 */
         transform: rotate(720deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
}
.rotate_transition {
  -webkit-transition: all 1s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 1s ease-in-out;  /* Firefox 4-15 */
       -o-transition: all 1s ease-in-out;  /* Opera 10.50–12.00 */
          transition: all 1s ease-in-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
}
